.colorFila1{
    background-color: rgb(172, 124, 218);
}


.colorHorasLibres{
    background-color: tomato;
}

.colorLaboratorios{
    background-color: aquamarine;
   }

.colorHumanidades{
background-color: orange;
}

.colorCarrera{
background-color: rgb(173, 228, 64);
}

