/* Sirve para cambiar las caracteristicas de los elementos de manera global */
/* Aqui escribiremos los codigos para los estilos deseados */
h1{
    color: blue;
    border: 2px solid rebeccapurple; 
}
p{
    font-size: larger;
    border: 2px solid rebeccapurple;
}
.parrafoRojo{
    font-size: 35px;
    border: 1px solid red;
}
.parrafoVerde{
    color: brown;
    background-color: chartreuse;
    border: 2px solid yellow;
    padding-bottom: 120px;
    
}
